{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/first.css' %}">
</head>

<body>
    <h1>This is About Page</h1>
    <h1>Inshallah {{author}} can earn money in honest way</h1>
    {% if age >= 18 %}
    <p>You can take license</p>
    {% elif age <= 12 %} <p>You are still infant</p>
        {% else %}
        <p>You can take license</p>
        {% endif %}

        <table>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>persepective</th>
            </tr>
            {% for friend in friends %}
            <tr>
                <td style="text-align: center;">{{friend.id}}</td>
                <td style="text-align: center;">{{friend.name}}</td>
                <td style="text-align: center;">{{friend.persepective}}</td>
            </tr>
            {% endfor %}
        </table>

        <img src="{% static 'images/pic2.jpeg' %}" alt="nature image">

</body>

</html>